html {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    box-sizing: border-box;
}
.divét{
	border-radius: 10px;
    padding: 32px 32px 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
}